.suptitle {
    font-weight: 300;
    font-size: 9px;
    line-height: 10px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EA2D55;
    background: #fff;
    border-radius: 7.7px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    width: max-content;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-top: 0;
}