.footer {
    background: linear-gradient(91.16deg, #BCBCBC -0.42%, #061033 124.74%);
    margin-top: 140px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 52px 0;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        gap: 30px 34px;
        flex-wrap: wrap;
        width: 330px;
        &-item {
            font-size: 13px;
            line-height: 14px;
            width: 82px;
        }
        &-link {
            color: #fff;
            text-decoration: underline transparent;
            transition: .3s linear;
            &:hover {
                color: #CC294C;
                text-decoration: underline #CC294C;
            }
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
        &-item {
            font-size: 11px;
            line-height: 12px;
            text-align: right;
            color: rgba(255, 255, 255, 0.84);
        }
        &-link {
            color: rgba(255, 255, 255, 0.84);
            text-decoration: underline transparent;
            transition: .3s linear;
            &:hover {
                color: #CC294C;
                text-decoration: underline #CC294C;
            }
        }
    }
}