.about {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
  }

  &__info {
    max-width: 481px;
  }

  &__suptitle {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 21px;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    margin-bottom: 62px;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #666666;
    &-span {
      color: var(--black);
      font-weight: 700;
    }
    &:nth-child(2) {
      margin-bottom: 0;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    &-outer {
      width: 447px;
      height: 397px;
      overflow: hidden;
      border-radius: 10px;
    }
  }
}
