<section class="comand" id='comand'>
  <div class="container">
    <div class="comand__inner">
      <div class="comand__suptitle suptitle">
        Команда
      </div>
      <h4 class="comand__title title">
        НАША КОМАНДА
      </h4>
      <div class="comand__slider-outer">
        <div class="comand__slider swiper-container">
          <div class="comand__slider-wrapper swiper-wrapper">
            <div class="comand__slider-slide swiper-slide">
              <div class="comand__slider-card">
                <div class="comand__slider-card-post">
                  Учредитель
                </div>
                <div class="comand__slider-card-img-outer">
                  <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
                </div>
                <div class="comand__slider-card-info">
                  <div class="comand__slider-card-info-suptitle">
                    Lorem Ipsum
                  </div>
                  <div class="comand__slider-card-info-title">
                    CEO & PROJECT MANAGER
                  </div>
                </div>
              </div>
            </div>
            <div class="comand__slider-slide swiper-slide">
              <div class="comand__slider-card">
                <div class="comand__slider-card-post">
                  Учредитель
                </div>
                <div class="comand__slider-card-img-outer">
                  <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
                </div>
                <div class="comand__slider-card-info">
                  <div class="comand__slider-card-info-suptitle">
                    Lorem Ipsum
                  </div>
                  <div class="comand__slider-card-info-title">
                    CEO & PROJECT MANAGER
                  </div>
                </div>
              </div>
            </div>
            <div class="comand__slider-slide swiper-slide">
              <div class="comand__slider-card">
                <div class="comand__slider-card-post">
                  Учредитель
                </div>
                <div class="comand__slider-card-img-outer">
                  <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
                </div>
                <div class="comand__slider-card-info">
                  <div class="comand__slider-card-info-suptitle">
                    Lorem Ipsum
                  </div>
                  <div class="comand__slider-card-info-title">
                    CEO & PROJECT MANAGER
                  </div>
                </div>
              </div>
            </div>
            <div class="comand__slider-slide swiper-slide">
              <div class="comand__slider-card">
                <div class="comand__slider-card-post">
                  Учредитель
                </div>
                <div class="comand__slider-card-img-outer">
                  <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
                </div>
                <div class="comand__slider-card-info">
                  <div class="comand__slider-card-info-suptitle">
                    Lorem Ipsum
                  </div>
                  <div class="comand__slider-card-info-title">
                    CEO & PROJECT MANAGER
                  </div>
                </div>
              </div>
            </div>
            <div class="comand__slider-slide swiper-slide">
              <div class="comand__slider-card">
                <div class="comand__slider-card-post">
                  Учредитель
                </div>
                <div class="comand__slider-card-img-outer">
                  <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
                </div>
                <div class="comand__slider-card-info">
                  <div class="comand__slider-card-info-suptitle">
                    Lorem Ipsum
                  </div>
                  <div class="comand__slider-card-info-title">
                    CEO & PROJECT MANAGER
                  </div>
                </div>
              </div>
            </div>
            <div class="comand__slider-slide swiper-slide">
              <div class="comand__slider-card">
                <div class="comand__slider-card-post">
                  Учредитель
                </div>
                <div class="comand__slider-card-img-outer">
                  <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
                </div>
                <div class="comand__slider-card-info">
                  <div class="comand__slider-card-info-suptitle">
                    Lorem Ipsum
                  </div>
                  <div class="comand__slider-card-info-title">
                    CEO & PROJECT MANAGER
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="comand__slider-arrow comand__slider-arrow-prev swiper-button-prev">
          <img class='comand__slider-arrow-img' src="img/slider-prev.svg" alt="image">
        </div>
        <div class="comand__slider-arrow comand__slider-arrow-next swiper-button-next">
          <img class='comand__slider-arrow-img' src="img/slider-next.svg" alt="image">
        </div>


        <div class="comand__slider-card-outer">
          <div class="comand__slider-card">
            <div class="comand__slider-card-post">
              Учредитель
            </div>
            <div class="comand__slider-card-img-outer">
              <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
            </div>
            <div class="comand__slider-card-info">
              <div class="comand__slider-card-info-suptitle">
                Lorem Ipsum
              </div>
              <div class="comand__slider-card-info-title">
                CEO & PROJECT MANAGER
              </div>
            </div>
          </div>
          <div class="comand__slider-card">
            <div class="comand__slider-card-post">
              Учредитель
            </div>
            <div class="comand__slider-card-img-outer">
              <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
            </div>
            <div class="comand__slider-card-info">
              <div class="comand__slider-card-info-suptitle">
                Lorem Ipsum
              </div>
              <div class="comand__slider-card-info-title">
                CEO & PROJECT MANAGER
              </div>
            </div>
          </div>
          <div class="comand__slider-card">
            <div class="comand__slider-card-post">
              Учредитель
            </div>
            <div class="comand__slider-card-img-outer">
              <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
            </div>
            <div class="comand__slider-card-info">
              <div class="comand__slider-card-info-suptitle">
                Lorem Ipsum
              </div>
              <div class="comand__slider-card-info-title">
                CEO & PROJECT MANAGER
              </div>
            </div>
          </div>
          <div class="comand__slider-card">
            <div class="comand__slider-card-post">
              Учредитель
            </div>
            <div class="comand__slider-card-img-outer">
              <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
            </div>
            <div class="comand__slider-card-info">
              <div class="comand__slider-card-info-suptitle">
                Lorem Ipsum
              </div>
              <div class="comand__slider-card-info-title">
                CEO & PROJECT MANAGER
              </div>
            </div>
          </div>
          <div class="comand__slider-card">
            <div class="comand__slider-card-post">
              Учредитель
            </div>
            <div class="comand__slider-card-img-outer">
              <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
            </div>
            <div class="comand__slider-card-info">
              <div class="comand__slider-card-info-suptitle">
                Lorem Ipsum
              </div>
              <div class="comand__slider-card-info-title">
                CEO & PROJECT MANAGER
              </div>
            </div>
          </div>
          <div class="comand__slider-card">
            <div class="comand__slider-card-post">
              Учредитель
            </div>
            <div class="comand__slider-card-img-outer">
              <img class="comand__slider-card-img" src="img/dummy.svg" alt="image">
            </div>
            <div class="comand__slider-card-info">
              <div class="comand__slider-card-info-suptitle">
                Lorem Ipsum
              </div>
              <div class="comand__slider-card-info-title">
                CEO & PROJECT MANAGER
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comand__num-card-outer">
        <div class="comand__num-card">
          <div class="comand__num">
            5
          </div>
          <div class="comand__num-title">
            ДИЗАЙНЕРЫ
          </div>
          <div class="comand__num-subtitle">
            UI, UX, Моушн, Брендинг...
          </div>
        </div>
        <div class="comand__num-card">
          <div class="comand__num">
            5
          </div>
          <div class="comand__num-title">
            ДИЗАЙНЕРЫ
          </div>
          <div class="comand__num-subtitle">
            UI, UX, Моушн, Брендинг...
          </div>
        </div>
        <div class="comand__num-card">
          <div class="comand__num">
            5
          </div>
          <div class="comand__num-title">
            ДИЗАЙНЕРЫ
          </div>
          <div class="comand__num-subtitle">
            UI, UX, Моушн, Брендинг...
          </div>
        </div>
        <div class="comand__num-card">
          <div class="comand__num">
            5
          </div>
          <div class="comand__num-title">
            ДИЗАЙНЕРЫ
          </div>
          <div class="comand__num-subtitle">
            UI, UX, Моушн, Брендинг...
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
