<footer class="footer" id='footer'>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo-outer">
        <img class="footer__logo" src="img/footer_logo.svg" alt="image">
      </div>
      <ul class="footer__list">
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">
            Главная
          </a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">
            Вакансии
          </a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link">
            Блог
          </a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link" data-link-path='#proj'>
            Проекты
          </a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link" data-link-path='#comand'>
            Команда
          </a>
        </li>
        <li class="footer__list-item">
          <a href="#" class="footer__list-link" data-link-path='#footer'>
            Контакты
          </a>
        </li>
      </ul>
      <ul class="footer__contacts">
        <li class="footer__contacts-item">
          301942
        </li>
        <li class="footer__contacts-item">
          город Lorem, Ipsum улица, дом 23
        </li>
        <li class="footer__contacts-item">
          <a class="footer__contacts-link" href="mailto:loremipsum@gmail.com">
            loremipsum@gmail.com
          </a>
        </li>
        <li class="footer__contacts-item">
          <a class="footer__contacts-link" href="tel:+72930324302">
            8 (293) 032 43 02
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
