<section class="how">
  <div class="container">
    <div class="how__inner">
      <div class="how__suptitle suptitle">
        Этапы реализации
      </div>
      <h3 class="how__title title">
        КАК МЫ БУДЕМ РАБОТАТЬ?
      </h3>
      <div class="how__card-outer">
        <div class="how__card">
          <div class="how__card-num-icon">
            <div class="how__card-num">
              01
            </div>
            <div class="how__card-icon-outer">
              <img class="how__card-icon" src="img/how-icon_1.svg" alt="icon">
            </div>
          </div>
          <div class="how__card-info">
            <div class="how__card-title">
              Ищем идею
            </div>
            <div class="how__card-text">
              lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu pretium sem. Etiam aliquet volutpat sapien
            </div>
          </div>
        </div>
        <div class="how__card">
          <div class="how__card-num-icon">
            <div class="how__card-num">
              02
            </div>
            <div class="how__card-icon-outer">
              <img class="how__card-icon" src="img/how-icon_2.svg" alt="icon">
            </div>
          </div>
          <div class="how__card-info">
            <div class="how__card-title">
              Обсуждаем
            </div>
            <div class="how__card-text">
              lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu pretium sem. Etiam aliquet volutpat sapien
            </div>
          </div>
        </div>
        <div class="how__card">
          <div class="how__card-num-icon">
            <div class="how__card-num">
              03
            </div>
            <div class="how__card-icon-outer">
              <img class="how__card-icon" src="img/how-icon_3.svg" alt="icon">
            </div>
          </div>
          <div class="how__card-info">
            <div class="how__card-title">
              Собираем команду
            </div>
            <div class="how__card-text">
              lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu pretium sem. Etiam aliquet volutpat sapien
            </div>
          </div>
        </div>
        <div class="how__card">
          <div class="how__card-num-icon">
            <div class="how__card-num">
              04
            </div>
            <div class="how__card-icon-outer">
              <img class="how__card-icon" src="img/how-icon_4.svg" alt="icon">
            </div>
          </div>
          <div class="how__card-info">
            <div class="how__card-title">
              Реализуем
            </div>
            <div class="how__card-text">
              lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu pretium sem. Etiam aliquet volutpat sapien
            </div>
          </div>
        </div>
        <div class="how__card">
          <div class="how__card-num-icon">
            <div class="how__card-num">
              05
            </div>
            <div class="how__card-icon-outer">
              <img class="how__card-icon" src="img/how-icon_5.svg" alt="icon">
            </div>
          </div>
          <div class="how__card-info">
            <div class="how__card-title">
              Запускаем
            </div>
            <div class="how__card-text">
              lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu pretium sem. Etiam aliquet volutpat sapien
            </div>
          </div>
        </div>
        <div class="how__card">
          <div class="how__card-num-icon">
            <div class="how__card-num">
              06
            </div>
            <div class="how__card-icon-outer">
              <img class="how__card-icon" src="img/how-icon_6.svg" alt="icon">
            </div>
          </div>
          <div class="how__card-info">
            <div class="how__card-title">
              Получаем кэш
            </div>
            <div class="how__card-text">
              lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu pretium sem. Etiam aliquet volutpat sapien
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
