<div class="modals">


  <div class="cons">
    <div class="cons__inner">
      <div class="cons__title">
        Свяжитесь со нами для подробной консультации
      </div>
      <form class="cons__form" action="#">
        <label class="cons__label">
          Ваше имя
          <input class="cons__input" type="text" placeholder="qwertycamedy">
        </label>
        <label class="cons__label">
          Номер телефона
          <input class="cons__input" type="text" placeholder="+7 999 999 99 99">
        </label>
        <label class="cons__label">
          E-mail 
          <input class="cons__input" type="text" placeholder="example@gmail.com">
        </label>
        <button class="cons__btn">
          Отправить
        </button>
      </form>
    </div>
  </div>


</div>
