<section class="offer">
  <div class="container">
    <div class="offer__inner">
      <div class="offer__info">
        <h4 class="offer__title title">
          ХОТИТЕ ПРЕДЛОЖИТЬ СВОЙ ПРОЕКТ?
        </h4>
        <div class="offer__subtitle">
          Praesent dolor leo, condimentum quis aliquam vel, fringilla ut quam! 
        </div>
        <ul class="offer__social">
          <li class="offer__social-item">
            <a href="#" class="offer__social-link">
              <svg class='offer__social-img'>
                <use xlink:href='img/sprite.svg#tg'></use>
              </svg>
            </a>
          </li>
          <li class="offer__social-item">
            <a href="#" class="offer__social-link">
              <svg class='offer__social-img'>
                <use xlink:href='img/sprite.svg#vk'></use>
              </svg>
            </a>
          </li>
          <li class="offer__social-item">
            <a href="#" class="offer__social-link">
              <svg class='offer__social-img'>
                <use xlink:href='img/sprite.svg#ig'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="offer__form-outer">
        <form class="offer__form" action="#">
          <label class="offer__label">
            Ваше имя
            <input class="offer__input" type="text" placeholder="qwertycamedy">
          </label>
          <label class="offer__label">
            Номер телефона
            <input class="offer__input" type="text" placeholder="+7 999 999 99 99">
          </label>
          <label class="offer__label">
            E-mail 
            <input class="offer__input" type="mail" placeholder="example@gmail.com">
          </label>
          <label class="offer__label">
            Социльная сеть
            <input class="offer__input" type="text" placeholder="VK, Telegram, Instagram">
          </label>
          <button class="offer__button" type='submit'>Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
