<section class="proj">
  <div class="container">
    <div class="proj__inner">
      <div class="proj__suptitle suptitle">
        Портфолио
      </div>
      <h3 class="proj__title title">
        НАШИ РАБОТЫ
      </h3>
      <div class="proj__tab-outer">
        <div class="proj__tab-btn-outer">
          <button class="proj__tab-btn" data-proj-tab='#proj_1'>Все</button>
          <button class="proj__tab-btn" data-proj-tab='#proj_2'>Образование</button>
          <button class="proj__tab-btn" data-proj-tab='#proj_3'>Развлечения</button>
          <button class="proj__tab-btn" data-proj-tab='#proj_4'>Бизнес</button>
        </div>
        <div class="proj__tab-content-outer">
          <div class="proj__tab-content" id='proj_1'>
            <div class="proj__card-outer">
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-2.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-3.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="proj__tab-content" id='proj_2'>
            <div class="proj__card-outer">
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-2.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-3.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="proj__tab-content" id='proj_3'>
            <div class="proj__card-outer">
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-2.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-3.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="proj__tab-content" id='proj_4'>
            <div class="proj__card-outer">
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-2.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-3.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
              <a class="proj__card" href='#'>
                <img class="proj__card-bg" src="img/proj-card_bg-1.webp" alt="image">
                <div class="proj__category-outer">
                  <div class="proj__category">
                    Развлечения
                  </div>
                  <div class="proj__category">
                    TikTok
                  </div>
                </div>
                <div class="proj__icon-info">
                  <div class="proj__icon-outer">
                    <img class="proj__icon" src="img/proj-card_icon.svg" alt="icon">
                  </div>
                  <div class="proj__info">
                    <div class="proj__info-title">
                      VEDAR
                    </div>
                    <div class="proj__info-subtitle">
                      Lorem ipsum dolor sit amet
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
